.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5vw;
    background-color: #ccc;
    padding: 1vw;

}
img {
    height: 400px;
}

.conItem{
    display: flex;
    justify-content: center;
    gap: 1vw;
    background-color: aliceblue;
}